.head
    background: #F8F3F4
    height: 148px
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

    &__heading
        font-size: 24px
        line-height: 29px
        color: $colorSite

.breadcrumbs
    &__ul
        display: flex

    &__li
        list-style-type: none
        &:last-of-type .breadcrumbs__link
            font-weight: bold
            color: $colorSite

        &:not(:last-of-type)::after
            content: '/'
            padding-left: 6px
            padding-right: 6px
            font-weight: 300
            font-size: 14px
            line-height: 17px
            color: #636363

    &__link
        font-weight: 300
        font-size: 14px
        line-height: 17px
        color: #636363
        &:hover
            color: $colorSite

.filter-sort
    padding-top: 36px
    padding-bottom: 64px
    display: flex
    gap: $gapGrid

.filter
    width: $contentCol4
    position: relative

    &__details
        padding: 12px 16px
        position: absolute
        width: 100%
        z-index: 1
        box-sizing: border-box
        &[open]
            background: #FFFFFF
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
        &[open] .filter__summary
            color: $colorSite
        &[open] .filter__summary path
            fill: $colorSite

    &__summary
        display: flex
        align-items: center
        gap: 11px
        color: #000
        font-size: 14px
        font-weight: 600

    &__details-in
        padding-top: 16px
        &[open] .filter__category
            color: $colorSite

    &__category
        border-left: 5px solid $colorSite
        padding-top: 11px
        &_border-bottom
            border-bottom: 1px solid #EBEBEB
            padding-bottom: 11px
            padding-left: 11px

    &__box-link
        display: flex
        flex-direction: column
        gap: 11px
        padding: 24px 16px

    &__link
        font-size: 14px
        line-height: 17px
        color: #6F6E6E
        &:hover
            color: $colorSite

.sort
    &__summary
        color: #6F6E6E
        font-size: 14px
        font-weight: 400

.product-box-catalog
    padding-top: 0

.product-content-catalog
    margin-top: 0

.catalog__p-t-0
    padding-top: 0
    padding-bottom: 95px

.catalog__m-t-64
    margin-top: 64px

.pagination
    display: flex
    justify-content: center
    margin-top: 45px

.row
    display: flex
    align-items: center
    width: auto
    padding: 15px
    border: solid 1px #EBEBEB

.row p
    padding: 0 15px 0 15px
    color: #C4C4C4
    font-size: 16px
    font-style: normal
    font-weight: 300
    line-height: normal
