@media (max-width: 1023px)
    $widthSite: 736px
    $gapGrid: 16px
    .center
        padding-left: calc(50% - #{$widthSite / 2})
        padding-right: calc(50% - #{$widthSite / 2})

    .product-content
        gap: $gapGrid

    .top
        &__right
            padding-left: 39px
        &__heading
            font-size: 44px
            line-height: 53px
            &-mini
                font-size: 24px
                line-height: 29px

    .sale__content
        $gapGrid: 20px
        gap: $gapGrid
        margin-bottom: 20px

    .advantages
        &__container
            display: flex
            flex-direction: column
        &__item
            padding-top: 48px
            padding-bottom: 0

    .advantages__item:last-child
        margin-bottom: 64px

    .subscribe
        &__container
            flex-direction: column
            background-size: cover
        &-form
            margin-bottom: 140px
            margin-right: 0

    .testimonial
        margin-top: 64px
        margin-bottom: 48px

    // Catalog

    .filter-sort
        justify-content: space-between
        padding-top: 12px
        padding-bottom: 40px
