@media (max-width: 767px)
    .center
        padding-left: 16px
        padding-right: 16px

    .header
        &__link
            display: none

    .menu
        top: 0
        width: 100%
        &__box
            margin-bottom: 16px
            display: flex
            gap: 32px
            & path
                fill: #000000
        &__heading
            display: none

    #switcher:checked ~ .menu
        right: 0
        top: -100%

    .top
        padding-left: 16px
        padding-right: 16px
        min-height: 363px

        &__left
            display: none

        &__right
            width: 100%
            display: flex
            align-items: center
            justify-content: center

        &__content
            margin-top: 0

        &__heading
            font-weight: 900
            font-size: 38px
            line-height: 46px
            color: $colorDark
            &-mini
                font-weight: bold
                font-size: 20px
                line-height: 24px
                color: $colorDark
                &_color
                    color: $colorSite

    .sale
        &__content
            flex-direction: column
        &__img__big
            height: 111px
            object-fit: cover

    .testimonial
        font-size: 18px

    .subscribe-form__title #subtitle
        font-size: 14px

    .footer
        flex-direction: column-reverse
        justify-content: normal

    .copyright
        margin-top: 40px
        margin-bottom: 8px

    .social
        margin: 40px 0 0 0

    // Catalog

    .head
        justify-content: center
        gap: 32px
        flex-direction: column
        align-items: center

    .sort
        gap: 23px
        &__summary
            gap: 9px
            font-size: 12px
            line-height: 14px

    .filter
        position: absolute
        width: calc(100% - 32px)
        &__summary
            &-text
                display: none
            &-icon
                width: 37.5px
                height: 25px
        &-sort
            justify-content: flex-end

    // Product

    .about-product
        &__product
            padding-bottom: 32px
        &__description
            max-width: 326px
            padding: 0 24px

    .divider--gray
        width: 175px
        margin: 32px 0 40px 0

    .sort__summary
        font-size: 10px

    .product-box
        padding-top: 28px

