* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.header__right {
  gap: 32px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 75px;
  right: 0;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  width: 232px;
  box-sizing: border-box;
  transition: all 0.5s;
  z-index: 100;
}
.menu__ul {
  list-style-type: none;
}
.menu__heading {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 4px;
}
.menu__link-heading {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}
.menu__li {
  margin-top: 20px;
}
.menu__content-links {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  gap: 11px;
  margin-top: 12px;
}
.menu__link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.menu__link:hover {
  color: #F16D7F;
}
.menu__close {
  position: absolute;
  top: 16px;
  right: 16px;
}
.menu__box {
  display: none;
}

#switcher {
  position: absolute;
  visibility: hidden;
  left: -999999px;
}
#switcher:checked ~ .menu {
  right: -100%;
}

.top {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #F1E4E6;
  display: flex;
}
.top__left, .top__right {
  width: 50%;
}
.top__right {
  padding-left: 64px;
  box-sizing: border-box;
}
.top__content {
  margin-top: 40%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.top__heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.top__heading__mini {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.spanned__text {
  color: #F16D7F;
}

.dropdown__container {
  width: 232px;
  background: #FFF;
  display: none;
  position: absolute;
  z-index: 999;
  top: 51px;
  left: 0;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  padding-bottom: 24px;
}

.header__right > div, svg {
  cursor: pointer;
}

.menu-icon:hover .dropdown__container {
  display: block;
}

.text-ml-34 {
  margin-left: 34px;
}

.sale {
  padding-top: 64px;
}
.sale__content {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.sale__item {
  position: relative;
}
.sale__item:hover .sale__heading {
  color: #e21632;
}
.sale__img {
  width: 360px;
}
.sale__img__big {
  width: 1140px;
}
.sale__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sale__p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.sale__heading {
  color: #F16D7F;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
}

.tac {
  text-align: center;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.text-mt-6 {
  margin-top: 6px;
}

.product-box {
  padding-top: 96px;
  padding-bottom: 96px;
}

.product-content {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product {
  width: 360px;
  background: #F8F8F8;
  position: relative;
}
.product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}
.product__img {
  width: 100%;
}
.product__add {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 139px;
  height: 44px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
}
.product__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.product__add:hover {
  color: #222222;
  background-color: #FFFFFF;
}
.product__add:hover path {
  fill: #222222;
}
.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product__price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product:hover .product__add {
  display: flex;
}

.product:hover .product__img {
  filter: brightness(50%);
}

.browse-button {
  text-align: center;
  padding-top: 48px;
}
.browse-button__span {
  border: solid #FF6A6A;
  padding: 15px 40px;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.browse-button__span:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.advantages__container {
  background: #222224;
  display: flex;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 104px 0;
}

.advantage__title {
  color: #FBFBFB;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 28px;
  margin-bottom: 16px;
}

.advantage__desc {
  color: #FBFBFB;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 360px;
}

.subscribe__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("img/photo_subscribe.jpeg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial img {
  margin-bottom: 30px;
}

.testimonial {
  max-width: 360px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 126px;
}

.testimonial span {
  font-style: italic;
}

.subscribe-form {
  max-width: 557px;
  margin-right: 80px;
}

.subscribe-form__title {
  margin-bottom: 32px;
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.subscribe-form__title #subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.email-input {
  border-radius: 50px 0 0 50px;
  background: #E1E1E1;
  border: none;
  height: 50px;
  width: 256px;
  padding: 0 64px 0 22px;
  box-sizing: border-box;
}

.form__button {
  color: #FFF;
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: #F16D7F;
  border-radius: 0 50px 50px 0;
  padding: 8px;
  margin-left: -4px;
}

.footer {
  background: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 24px 0;
}
.social__icon {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__icon:hover {
  background: #F16D7F;
}
.social__icon:hover path {
  fill: #FFFFFF;
}
.social__icon img {
  width: 60%;
}

.sort {
  display: flex;
  gap: 28px;
  padding-top: 12px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__box {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 5px;
  z-index: 1;
}
.sort__item {
  display: flex;
  gap: 9px;
  align-items: center;
}

.head {
  background: #F8F3F4;
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.head__heading {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__ul {
  display: flex;
}
.breadcrumbs__li {
  list-style-type: none;
}
.breadcrumbs__li:last-of-type .breadcrumbs__link {
  font-weight: bold;
  color: #F16D7F;
}
.breadcrumbs__li:not(:last-of-type)::after {
  content: "/";
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
}

.filter-sort {
  padding-top: 36px;
  padding-bottom: 64px;
  display: flex;
  gap: 30px;
}

.filter {
  width: 360px;
  position: relative;
}
.filter__details {
  padding: 12px 16px;
  position: absolute;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}
.filter__details[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__details[open] .filter__summary {
  color: #F16D7F;
}
.filter__details[open] .filter__summary path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.filter__details-in {
  padding-top: 16px;
}
.filter__details-in[open] .filter__category {
  color: #F16D7F;
}
.filter__category {
  border-left: 5px solid #F16D7F;
  padding-top: 11px;
}
.filter__category_border-bottom {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 11px;
  padding-left: 11px;
}
.filter__box-link {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort__summary {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

.product-box-catalog {
  padding-top: 0;
}

.product-content-catalog {
  margin-top: 0;
}

.catalog__p-t-0 {
  padding-top: 0;
  padding-bottom: 95px;
}

.catalog__m-t-64 {
  margin-top: 64px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.row {
  display: flex;
  align-items: center;
  width: auto;
  padding: 15px;
  border: solid 1px #EBEBEB;
}

.row p {
  padding: 0 15px 0 15px;
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.slideshow {
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideshow__chevron {
  background: rgba(42, 42, 42, 0.15);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow__chevron:hover {
  cursor: pointer;
}
.slideshow__chevron:hover path {
  fill: #F16D7F;
}

.blank-box {
  height: 64px;
  background: #F7F7F7;
}

.about-product {
  max-width: 1140px;
  border: solid 1px #EAEAEA;
  margin-top: -64px;
  background: #FFFFFF;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-product__collection {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  margin-top: 64px;
}
.about-product__product {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 48px;
}
.about-product__description {
  max-width: 555px;
  text-align: center;
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 300;
}
.about-product__price {
  color: #EF5B70;
  font-size: 24px;
  font-weight: 300;
  padding-top: 32px;
}

.add-to-cart {
  border: solid #FF6A6A;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}
.add-to-cart__text {
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
}
.add-to-cart:hover {
  background-color: #F16D7F;
}
.add-to-cart:hover path {
  fill: #FFFFFF;
}
.add-to-cart:hover .add-to-cart__text {
  color: #FFFFFF;
}

.divider--red {
  margin: 12px 0;
  width: 64px;
  height: 3px;
  background: #EF5B70;
  border: none;
}

.divider--gray {
  margin: 64px 0;
  width: 640px;
  height: 1px;
  background: #EAEAEA;
  border: none;
}

.padding-top {
  padding-top: 0;
}

.m-t-36 {
  margin-top: 36px;
}

.shopping-cart-box {
  display: flex;
}

.shopping-cart-column {
  display: flex;
}
.shopping-cart-column--left {
  max-width: 652px;
  padding-top: 60px;
  padding-bottom: 80px;
}
.shopping-cart-column--right {
  padding-top: 60px;
  margin-left: 128px;
}

.shopping-cart-item {
  display: flex;
  position: relative;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-bottom: 40px;
  transition: transform 0.3s;
}
.shopping-cart-item:hover {
  transform: scale(1.05);
}
.shopping-cart-item__info {
  padding: 24px 96px 0 24px;
  color: #575757;
  font-size: 22px;
  font-weight: 400;
}
.shopping-cart-item__close-btn {
  position: absolute;
  right: 24px;
  top: 28px;
}
.shopping-cart-item__title {
  color: #222;
  font-size: 24px;
  padding-bottom: 40px;
}
.shopping-cart-item__price--span {
  color: #F16D7F;
}
.shopping-cart-item__quantity {
  display: flex;
  align-items: center;
}
.shopping-cart-item__quantity__value {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
  padding: 2px 16px;
  border: solid 1px #EAEAEA;
  margin-left: 24px;
}

.p-t-6 {
  padding-top: 6px;
}

.shopping-cart-buttons-box {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.shopping-cart-buttons {
  border: solid 1px #A4A4A4;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 40px;
  transition: transform 0.3s;
}
.shopping-cart-buttons:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: #A4A4A4;
  color: #FFFFFF;
}

.shipping-form {
  display: flex;
  flex-direction: column;
}
.shipping-form__title {
  color: #222;
}
.shipping-form__input {
  width: 360px;
  height: 45px;
  margin-top: 24px;
  color: #222;
  font-size: 13px;
  font-weight: 300;
  padding-left: 16px;
  border: 1px solid #A4A4A4;
}
.shipping-form__button {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 300;
  width: 100px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  margin-top: 24px;
  transition: transform 0.3s;
}
.shipping-form__button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: #A4A4A4;
  color: #FFFFFF;
}

.subtotal-box {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #F5F3F3;
  padding: 40px 36px 24px 36px;
}
.subtotal-box__divider {
  align-self: center;
  width: 100%;
  color: #E2E2E2;
  margin: 20px 0;
}

.subtotal {
  display: flex;
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
}
.subtotal__value {
  padding-left: 20px;
}

.grand-total {
  display: flex;
  color: #222;
  font-size: 16px;
  font-weight: 300;
  padding-top: 12px;
}
.grand-total__value {
  color: #F16D7F;
  padding-left: 20px;
}

.shopping-cart-checkout-btn {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  background: #F16D7F;
  padding: 16px 40px;
  align-self: center;
  transition: transform 0.3s;
}
.shopping-cart-checkout-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.registration {
  padding-top: 48px;
  display: flex;
}
.registration__column--left {
  padding-bottom: 76px;
  box-sizing: border-box;
}
.registration__column--right {
  padding-left: 128px;
  box-sizing: border-box;
}
.registration__title {
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.registration__block {
  display: flex;
  flex-direction: column;
}
.registration__block--bottom {
  padding-top: 24px;
}
.registration__input {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #A4A4A4;
  padding: 12px 0 12px 16px;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}
.registration__sex {
  display: flex;
  margin-top: 36px;
  gap: 24px;
}
.registration__hint {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  padding-top: 16px;
}
.registration__button {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px 0 16px 0;
  background: #F16D7F;
  max-width: 167px;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 0.3s;
}
.registration__button:hover {
  transform: scale(1.05);
}
.registration__perks {
  color: #000;
  font-size: 24px;
  font-weight: 300;
}
.registration__perks__subtitle {
  padding-top: 22px;
  padding-bottom: 5px;
}
.registration__perks__bullet {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 22px;
  transition: transform 0.3s;
}
.registration__perks__bullet:hover {
  transform: scale(1.05);
}

@media (max-width: 1023px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .product-content {
    gap: 16px;
  }
  .top__right {
    padding-left: 39px;
  }
  .top__heading {
    font-size: 44px;
    line-height: 53px;
  }
  .top__heading-mini {
    font-size: 24px;
    line-height: 29px;
  }
  .sale__content {
    gap: 20px;
    margin-bottom: 20px;
  }
  .advantages__container {
    display: flex;
    flex-direction: column;
  }
  .advantages__item {
    padding-top: 48px;
    padding-bottom: 0;
  }
  .advantages__item:last-child {
    margin-bottom: 64px;
  }
  .subscribe__container {
    flex-direction: column;
    background-size: cover;
  }
  .subscribe-form {
    margin-bottom: 140px;
    margin-right: 0;
  }
  .testimonial {
    margin-top: 64px;
    margin-bottom: 48px;
  }
  .filter-sort {
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 40px;
  }
  .about-product__description {
    padding: 0 106px;
  }
  .registration__column--right {
    max-width: 354px;
    padding-left: 22px;
  }
  .registration__perks {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__link {
    display: none;
  }
  .menu {
    top: 0;
    width: 100%;
  }
  .menu__box {
    margin-bottom: 16px;
    display: flex;
    gap: 32px;
  }
  .menu__box path {
    fill: #000000;
  }
  .menu__heading {
    display: none;
  }
  #switcher:checked ~ .menu {
    right: 0;
    top: -100%;
  }
  .top {
    padding-left: 16px;
    padding-right: 16px;
    min-height: 363px;
  }
  .top__left, .top__right {
    display: none;
  }
  .top__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top__content {
    margin-top: 0;
  }
  .top__heading {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #222222;
  }
  .top__heading-mini {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
  }
  .top__heading-mini_color {
    color: #F16D7F;
  }
  .sale__content {
    flex-direction: column;
  }
  .sale__img__big {
    height: 111px;
    object-fit: cover;
  }
  .testimonial {
    font-size: 18px;
  }
  .subscribe-form__title #subtitle {
    font-size: 14px;
  }
  .footer {
    flex-direction: column-reverse;
    justify-content: normal;
  }
  .copyright {
    margin-top: 40px;
    margin-bottom: 8px;
  }
  .social {
    margin: 40px 0 0 0;
  }
  .head {
    justify-content: center;
    gap: 32px;
    flex-direction: column;
    align-items: center;
  }
  .sort {
    gap: 23px;
  }
  .sort__summary {
    gap: 9px;
    font-size: 12px;
    line-height: 14px;
  }
  .filter {
    position: absolute;
    width: calc(100% - 32px);
  }
  .filter__summary-text {
    display: none;
  }
  .filter__summary-icon {
    width: 37.5px;
    height: 25px;
  }
  .filter-sort {
    justify-content: flex-end;
  }
  .about-product__product {
    padding-bottom: 32px;
  }
  .about-product__description {
    max-width: 326px;
    padding: 0 24px;
  }
  .divider--gray {
    width: 175px;
    margin: 32px 0 40px 0;
  }
  .sort__summary {
    font-size: 10px;
  }
  .product-box {
    padding-top: 28px;
  }
  .registration {
    flex-direction: column;
  }
  .registration__column--left {
    padding-bottom: 40px;
  }
  .registration__column--right {
    margin: 0;
    padding-bottom: 100px;
  }
  .registration__perks__subtitle {
    padding-top: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
