* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.header__right {
  gap: 32px;
}

.top {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #F1E4E6;
  display: flex;
}
.top__left, .top__right {
  width: 50%;
}
.top__right {
  padding-left: 64px;
  box-sizing: border-box;
}
.top__content {
  margin-top: 40%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.top__heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.top__heading__mini {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.spanned__text {
  color: #F16D7F;
}

.menu-icon {
  position: relative;
}

.dropdown__container {
  width: 232px;
  background: #FFF;
  display: none;
  position: absolute;
  z-index: 999;
  top: 51px;
  left: 0;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  padding-bottom: 24px;
}

.header__right > div, svg {
  cursor: pointer;
}

.menu-icon:hover .dropdown__container {
  display: block;
}

.text-ml-34 {
  margin-left: 34px;
}

.menu__title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 37px 143px 4px 0;
}

.menu__block {
  margin-top: 20px;
  margin-left: 34px;
}

.menu__block li {
  list-style-type: none;
}

.menu__section > .title {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__section > .group > li {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 0 0 20px;
}

.menu__section > .group > li > a {
  color: #6F6E6E;
}

.sale {
  padding-top: 64px;
}
.sale__content {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.sale__item {
  position: relative;
}
.sale__item:hover .sale__heading {
  color: #e21632;
}
.sale__img {
  width: 360px;
}
.sale__img__big {
  width: 1140px;
}
.sale__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sale__p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.sale__heading {
  color: #F16D7F;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
}

.tac {
  text-align: center;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.text-mt-6 {
  margin-top: 6px;
}

.product-box {
  padding-top: 96px;
  padding-bottom: 124px;
}

.product-content {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product {
  width: 360px;
  background: #F8F8F8;
  position: relative;
}
.product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}
.product__img {
  width: 100%;
}
.product__add {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 139px;
  height: 44px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
}
.product__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.product__add:hover {
  color: #222222;
  background-color: #FFFFFF;
}
.product__add:hover path {
  fill: #222222;
}
.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product__price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product:hover .product__add {
  display: flex;
}

.product:hover .product__img {
  filter: brightness(50%);
}

.browse-button {
  text-align: center;
  padding-top: 48px;
}
.browse-button__span {
  border: solid #FF6A6A;
  padding: 15px 40px;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.browse-button__span:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.advantages__container {
  background: #222224;
  display: flex;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 104px 0;
}

.advantage__title {
  color: #FBFBFB;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 28px;
  margin-bottom: 16px;
}

.advantage__desc {
  color: #FBFBFB;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 360px;
}

.subscribe__container {
  display: flex;
  justify-content: space-around;
  background-image: url("img/photo_subscribe.jpeg");
  background-color: #cccccc;
  height: 448px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial img {
  margin-top: 97px;
  margin-bottom: 30px;
}

.testimonial {
  max-width: 360px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.testimonial span {
  font-style: italic;
}

.subscribe-form {
  max-width: 557px;
}

.subscribe-form__title {
  margin-top: 150px;
  margin-bottom: 32px;
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.subscribe-form__title #subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.email-input {
  border-radius: 50px 0 0 50px;
  background: #E1E1E1;
  border: none;
  height: 50px;
  width: 256px;
  padding: 0 64px 0 22px;
  box-sizing: border-box;
  opacity: 0.67;
}

.form__button {
  color: #FFF;
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: #F16D7F;
  border-radius: 0 50px 50px 0;
  padding: 8px;
  margin-left: -4px;
}

.footer {
  height: 80px;
  background: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 230px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 230px;
}
.social__icon {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__icon:hover {
  background: #F16D7F;
}
.social__icon:hover path {
  fill: #FFFFFF;
}
.social__icon img {
  width: 60%;
}

.sort {
  display: flex;
  gap: 28px;
  padding-top: 12px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__box {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 5px;
  z-index: 1;
}
.sort__item {
  display: flex;
  gap: 9px;
  align-items: center;
}

.head {
  background: #F8F3F4;
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head__heading {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__ul {
  display: flex;
}
.breadcrumbs__li {
  list-style-type: none;
}
.breadcrumbs__li:last-of-type .breadcrumbs__link {
  font-weight: bold;
  color: #F16D7F;
}
.breadcrumbs__li:not(:last-of-type)::after {
  content: "/";
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
}

.filter-sort {
  padding-top: 36px;
  padding-bottom: 64px;
  display: flex;
  gap: 30px;
}

.filter {
  width: 360px;
  position: relative;
}
.filter__details {
  padding: 12px 16px;
  position: absolute;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}
.filter__details[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__details[open] .filter__summary {
  color: #F16D7F;
}
.filter__details[open] .filter__summary path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__details-in {
  padding-top: 16px;
}
.filter__details-in[open] .filter__category {
  color: #F16D7F;
}
.filter__category {
  border-left: 5px solid #F16D7F;
  padding-top: 11px;
}
.filter__category_border-bottom {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 11px;
  padding-left: 11px;
}
.filter__box-link {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}

.catalog__p-t-0 {
  padding-top: 0;
  padding-bottom: 95px;
}

.catalog__m-t-64 {
  margin-top: 64px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.row {
  display: flex;
  align-items: center;
  width: auto;
  padding: 15px;
  border: solid 1px #EBEBEB;
}

.row p {
  padding: 0 15px 0 15px;
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.slideshow {
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideshow__chevron {
  background: rgba(42, 42, 42, 0.15);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow__chevron:hover {
  cursor: pointer;
}
.slideshow__chevron:hover path {
  fill: #F16D7F;
}

.blank-box {
  height: 64px;
  background: #F7F7F7;
}

.about-product {
  max-width: 1140px;
  border: solid 1px #EAEAEA;
  margin-top: -64px;
  background: #FFFFFF;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-product__collection {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  margin-top: 64px;
}
.about-product__product {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 48px;
}
.about-product__description {
  max-width: 555px;
  text-align: center;
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 300;
}
.about-product__price {
  color: #EF5B70;
  font-size: 24px;
  font-weight: 300;
  padding-top: 32px;
}

.add-to-cart {
  border: solid #FF6A6A;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}
.add-to-cart__text {
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
}
.add-to-cart:hover {
  background-color: #F16D7F;
}
.add-to-cart:hover path {
  fill: #FFFFFF;
}
.add-to-cart:hover .add-to-cart__text {
  color: #FFFFFF;
}

.divider--red {
  padding: 12px 0;
}

.divider--gray {
  padding: 64px 0;
}

.padding-top {
  padding-top: 0;
}

.m-t-36 {
  margin-top: 36px;
}

/*# sourceMappingURL=style.css.map */
